.lafka-order-hours-current-time {
    padding: 8px;
    color: #ffffff;
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
    border-radius: 4px;
}
.lafka-order-hours-current-time.open {
    background-color: green;
}
.lafka-order-hours-current-time.closed {
    background-color: red;
}
.lafka-order-hours-admin-wrap select {
    border: 1px solid #e1e1e1;
    max-width: 200px;
    height: auto !important;
    padding: 6px 25px 6px 7px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    outline-color: currentcolor;
    outline-style: none;
    outline-color: transparent;
    outline-style: none;
    position: relative;
    z-index: 1;
    border-radius: 3px;
    background: url(../images/select_arrow.jpg) no-repeat center right !important;
    background-color: #ffffff !important;
}
.lafka-order-hours-admin-wrap select:focus {
    background: url(../images/select_arrow2.jpg) no-repeat center right !important;
    background-color: #ffffff !important;
    outline: none !important;
    outline-color: transparent !important;
    outline-style: none !important;
    border-color: transparent;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.2);
}
#lafka_order_hours_schedule_container, .lafka-order-hours-admin-wrap > h1 {
    background-color: #ffffff !important;
    border-radius: 8px;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
.lafka-order-hours-admin-wrap > h1 {
    padding: 40px 10px 40px 30px;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 50px;
}
.lafka-order-hours-admin-wrap > form#lafka-plugin-open-hours-form {
    padding: 0 30px;
}
#ui-datepicker-div {
    z-index: 10000 !important;
    background-color: #ffffff;
}
.jqs-period {
    z-index: 9999;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    background-color: #333;
}
.ui-datepicker .ui-datepicker-prev span:before, .ui-datepicker .ui-datepicker-next span:before {
    color: #ffffff;
    content: ">";
    display:block;
    text-indent: 0 !important;
    line-height: 16px;
    width: 16px;
    text-align: center;
    font-size: 18px !important;
}
.ui-datepicker .ui-datepicker-prev span:before {
    content: "<";
}