# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
*~

# Dependencies
node_modules/
/vendor/

# Lint caches
.phpcs.cache
.eslintcache
.stylelintcache

# Misc
*.log
*.bak
*.orig
