#global-addons-table td {
    padding: 7px 9px;
    vertical-align: middle
}

#global-addons-table th {
    padding: 7px 9px
}

.global-addons-form td.postbox, .lafka_product_addons td.postbox {
    padding: 0 !important
}

.global-addons-form td label, .lafka_product_addons td label {
    margin: 0;
    width: auto
}

.global-addons-form .addon_checkbox label, .lafka_product_addons .addon_checkbox label {
    display: block;
    float: none
}

.global-addons-form .addon_checkbox input, .lafka_product_addons .addon_checkbox input {
    width: 16px !important;
    min-width: 0 !important
}

#woocommerce-product-data ul.product_data_tabs li.addons_tab a::before {
    content: "\f502"
}

#product_addons_data {
    min-height: 0
}

#product_addons_data .lafka-product-add-ons-toolbar--open-close {
    display: none
}

#product_addons_data textarea.export, #product_addons_data textarea.import {
    width: 100%;
    display: none;
    margin: 10px 0 0
}

#product_addons_data .lafka-product-add-ons-toolbar__import-export {
    float: right
}

#product_addons_data .lafka_product_addon .product_addon_type {
    float: none
}

#product_addons_data .lafka_product_addon .data table {
    padding: 0;
    border: 1px solid #ececec
}

#product_addons_data .lafka_product_addon .data table td {
    padding: 6px
}

#product_addons_data .lafka_product_addon .data table thead th {
    background: #ececec;
    padding: 5px
}

#product_addons_data .lafka_product_addon .data table tfoot td {
    border-top: 1px solid #ececec;
    padding: 6px
}

#product_addons_data .lafka_product_addon .data input {
    min-width: 50px
}

.wc-metaboxes-wrapper .wc-metabox table td.minmax_column input {
    width: 48%;
    margin-right: 3%
}

.wc-metaboxes-wrapper .wc-metabox table td.minmax_column input:nth-of-type(2) {
    margin-right: 0
}

#product_addons_data .lafka_product_addon .data td.lafka-is-default-column input {
    min-width: 16px;
    width: 16px;
}

#product_addons_data .lafka_product_addons td.addon_checkbox label {
    line-height: normal;
}

#product_addons_data .lafka_product_addons td.addon_checkbox input[type="checkbox"] {
    margin-right: 0.25rem;
}

div.lafka_product_addon .wc-metabox-content td.label_column {
    width: 50%;
}

.lafka_product_addon.wc-metabox .price_column {
    width: 70px;
}

div.lafka_product_addon .wc-metabox-content td.label_column {
    width: 180px;
}

.lafka_product_addon.wc-metabox .image_column {
    position: relative;
    width: 190px;
}

.lafka_product_addon.wc-metabox .image_column .screenshot {
    float: left;
    width: 38px;
    height: 38px;
}

.lafka_product_addon.wc-metabox .image_column .screenshot img {
    float: left;
    width: auto;
    height: 36px;
}

.lafka_product_addon.wc-metabox .image_column .lafka_upload_image_button {
    float: right;
    width: 120px;
}

.lafka_product_addon.wc-metabox .image_column a.lafka_remove_image_link {
    top: 13px;
    left: 47px;
}