.lafka-shipping-areas-admin-wrap > h1 {
    padding: 40px 10px 40px 30px;
    font-size: 28px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #ffffff !important;
    border-radius: 8px;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.2);
}

.lafka-shipping-areas-admin-wrap > form#lafka-plugin-open-hours-form {
    padding: 0 30px;
}

.lafka-shipping-areas-admin-wrap select {
    border: 1px solid #e1e1e1;
    height: auto !important;
    padding: 6px 25px 6px 7px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    outline-color: currentcolor;
    outline-style: none;
    outline-color: transparent;
    outline-style: none;
    position: relative;
    z-index: 1;
    border-radius: 3px;
    background: url(../../images/select_arrow.jpg) no-repeat center right !important;
    background-color: #ffffff !important;
}

.lafka-shipping-areas-admin-wrap .lafka-admin-maps-api-key {
    min-width: 350px;
}

.lafka-admin-wide-input {
    min-width: 530px;
}

#lafka-shipping-areas-admin-store-map, #lafka-shipping-areas-admin-define-area-map, #lafka_geocode_branch_location_map {
    height: 300px;
    top: 10px;
    margin-bottom: 20px;
}

#lafka-shipping-areas-floating-search-panel {
    position: relative;
    top: 55px;
    z-index: 5;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #999;
    text-align: center;
    line-height: 30px;
}

span.lafka-branch-address-instructions {
    font-style: italic;
    font-size: small;
}

input#lafka_branch_address {
    background-color: #fff;
    border-radius: 2px;
    margin: 10px;
    padding: 0 0.5em;
    overflow: hidden;
    line-height: 40px;
    margin-right: 0;
    width: 40%;
}

input.lafka-geocode-branch-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
    margin-left: 5px;
}

input.lafka-geocode-branch-button:hover {
    background: #ebebeb;
}

input.lafka-geocode-branch-button.lafka-geocode-branch-address-submit {
    background-color: #1a73e8;
    color: white;
}

input.lafka-geocode-branch-button.lafka-geocode-branch-address-submit:hover {
    background-color: #1765cc;
}

input.lafka-geocode-branch-button.lafka-geocode-branch-address-clear {
    background-color: white;
    color: #1a73e8;
}

input.lafka-geocode-branch-button.lafka-geocode-branch-address-clear:hover {
    background-color: #d2e3fc;
}

#instructions {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    overflow: hidden;
    padding: 1rem;
    font-size: medium;
}

select#lafka_branch_shipping_areas {
    width: 350px
}

td.column-lafka_selected_branch span, td.column-lafka_order_type span {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 10px;
    border-radius: 4px;
    background-color: #bf9292;
    color: #ffffff;
    display: inline-block;
}

td.column-lafka_order_type span {
    background-color: #e6e6e6;
    color: #333333;
}

td.column-lafka_order_type span:before {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    content: "\f48b";
    display: inline-block;
    margin-right: 4px;
    color: #ff7d0a;
}

td.column-lafka_order_type span.lafka-order-type-pickup:before {
    content: "\f466";
    color: #0a8cff;
}

span.lafka-delivery-date, span.lafka-delivery-timeslot {
    display: block;
    padding: 4px 6px;
    border-radius: 4px;
    background-color: #ffffff;
    margin-bottom: 3px;
    border: 1px solid #f1f1f1;
}

span.lafka-delivery-date:before, span.lafka-delivery-timeslot:before {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    content: "\f783";
    display: inline-block;
    margin-right: 4px;
}

span.lafka-delivery-timeslot:before {
    content: "\f017";
}
select#show_branches_info_in {
    width: 320px;
    max-width: 100%;
}
body.taxonomy-lafka_branch_location .term-description-wrap {
    display: none;
}
#lafka_branch_order_hours_container, .lafka-order-hours-admin-wrap > h1 {
    background-color: #ffffff !important;
    border-radius: 8px;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
.lafka-order-hours-current-time {
    padding: 8px;
    border-radius: 6px;
    color: #ffffff;
    background-color: #333333;
    display: inline-block;
}
.lafka-order-hours-current-time.open {
    background-color: green;
}
.lafka-order-hours-current-time.closed {
    background-color: red;
}
.taxonomy-lafka_branch_location #col-left {
    width: 45%;
}
.taxonomy-lafka_branch_location #col-right {
    width: 55%;
}
.taxonomy-lafka_branch_location #edittag {
    max-width: 1200px;
}